<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico">
    <link rel="stylesheet" href="../lib/dstrn.css"/>
    <title>Not found</title>
</head>
<body class="dark-theme bg-base">

    <div class="relative flex-column flex-center w-100 h-100svh">
        <h1 class="m-0 z-1 bold text-primary fs-6">4<span class="text-accent-1">0</span>4</h1>
        <h2 class="m-0 z-1 text-secondary thin">The page you're looking for was not found</h2>
        <a class="m-0 z-1 no-decorations mt-1 flex-row justify-between align-center bg-accent-1 hover-bg-accent-2 text-base pointer tr-3 g-2 click-haptic-small"
           href="/"
           style="border-radius: 10px; padding: .5em 1.2em .5em 1.2em;"
           >back to home <i class="fa-solid fa-house"></i></a>
        <img class="absolute-center w-25 z-0 opacity-10" style="filter: brightness(10);" src="../public/assets/favicon.ico" draggable="false">
    </div>
    
</body>
</html>